# Load Libraries

In [2]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.max_columns', None)

# Load All CSV Files

In [3]:
data_path = '../data/'
projects = pd.read_csv(data_path + 'project.csv')
addresses = pd.read_csv(data_path + 'ProjectAddress.csv')
configurations = pd.read_csv(data_path + 'ProjectConfiguration.csv')
variants = pd.read_csv(data_path + 'ProjectConfigurationVariant.csv')

# Explore Projects Data

In [8]:
print("Projects table first 2 rows:")
projects.head(2)

Projects table first 2 rows:

,id,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,stateId,cityId,localityId,subLocalityId,projectSummary,possessionDate
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pksk30035vcxs7r2mo3iq,cmfdkuymm0001vc90iiyzkr8d,NaN,2025-09-28 00:00:00
1,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pk0cn0033vcxshxbf5hdh,cmfdn705v001pvc90uyle9m34,NaN,NaN

In [23]:
print("Project status counts:")
print(projects['status'].value_counts())

Project status counts:
status
UNDER_CONSTRUCTION    26
READY_TO_MOVE          5
Name: count, dtype: int64

In [9]:
print("Addresses table first 2 rows:")
addresses.head(2)

Addresses table first 2 rows:

,id,projectId,landmark,fullAddress,pincode
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017
1,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101

In [7]:
print("Configurations table first 2 rows:")
configurations.head(2)

Configurations table first 2 rows:

,id,projectId,propertyCategory,type,customBHK
0,cmf53kkzz000ivcu89r5399s4,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,1BHK,NaN
1,cmf53kl00000kvcu86ivy65di,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,2BHK,NaN

In [10]:
print("Variants table first 2 rows:")
variants.head(2)

Variants table first 2 rows:

,id,configurationId,bathrooms,privateBathrooms,publicBathrooms,balcony,furnishedType,furnishingType,lift,ageOfProperty,parkingType,listingType,floorPlanImage,carpetArea,price,propertyImages,maintenanceCharges,aboutProperty,createdAt,updatedAt
0,cmf5r6hv20005vxpt3yfnl2qp,cmf5r6hv20004vxpt0l657blu,12,NaN,NaN,3.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",faded,about property,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
1,cmf5r6hv20006vxptcx3lmm05,cmf5r6hv20004vxpt0l657blu,3,NaN,NaN,2.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,fsdaffdsafsfdddsa,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748

# Check BHK and prices

In [21]:
print("BHK types available:")
print(configurations['type'].value_counts())
variants['price'] = pd.to_numeric(variants['price'], errors='coerce')
variants['price_crore'] = variants['price'] / 10000000
print("\nPrice range:")
print(f"Min: ₹{variants['price_crore'].min():.2f} Cr")

BHK types available:
type
2BHK            23
3BHK            15
1BHK            13
4.5BHK           2
4BHK             2
Office           1
Office space     1
5BHK             1
House_Villa      1
1RK              1
Name: count, dtype: int64

Price range:
Min: ₹0.08 Cr

# Merge all tables

In [22]:
# Combine all 4 tables
df = projects.merge(addresses, left_on='id', right_on='projectId', how='left')
df = df.merge(configurations, left_on='id_x', right_on='projectId', how='left', suffixes=('', '_config'))
df = df.merge(variants, left_on='id', right_on='configurationId', how='left', suffixes=('', '_variant'))

print(f"Merged data shape: {df.shape}")
print(f"Total rows: {len(df)}")

print("\nSample merged data:")
print(df[['projectName', 'type', 'price', 'landmark', 'carpetArea']].head(5))

Merged data shape: (83, 47)
Total rows: 83

Sample merged data:
  projectName  type      price        landmark  carpetArea
0     Ashwini  1BHK   11111111    Babys school      123.00
1     Ashwini  2BHK   22222222    Babys school      456.00
2  Pristine02  2BHK  120000000      Sai nagar       972.00
3  Pristine02  2BHK  210000000      Sai nagar       188.73
4   Gurukripa  1BHK   13000000  Sindhi Society      426.57

# Clean and Save Master Data

In [27]:
# Select only important columns we need
important_cols = [
    'projectName', 
    'status', 
    'type',
    'landmark', 
    'fullAddress', 
    'pincode',
    'price', 
    'carpetArea', 
    'bathrooms',
    'balcony',
    'possessionDate',
    'floorPlanImage'
]

# Create clean dataframe
master_df = df[important_cols].copy()

# Add calculated columns
master_df['price_crore'] = master_df['price'] / 10000000
master_df['price_lakh'] = master_df['price'] / 100000

# Extract BHK number - using raw string r'' to avoid warning
master_df['bhk_number'] = master_df['type'].str.extract(r'(\d+)', expand=False)
master_df['bhk_number'] = pd.to_numeric(master_df['bhk_number'], errors='coerce')

# Check if property is ready
master_df['is_ready'] = master_df['status'] == 'READY_TO_MOVE'

# Save to CSV
master_df.to_csv('../data/master_properties.csv', index=False)

print("Master data created successfully!")
print(f"Total properties: {len(master_df)}")
print(f"1BHK: {(master_df['bhk_number']==1).sum()}")
print(f"2BHK: {(master_df['bhk_number']==2).sum()}")
print(f"3BHK: {(master_df['bhk_number']==3).sum()}")
print(f"Others (Office, Villa, RK): {master_df['bhk_number'].isna().sum()}")

Master data created successfully!
Total properties: 83
1BHK: 18
2BHK: 37
3BHK: 18
Others (Office, Villa, RK): 5